/* Basic styles */
body{
    background-color: white;
}
h1 {
    color: #9099A2; 
}

h2, h3, h4, h5, h6{
    color: #6D7993; /* Accent */
}

a{
    color:inherit;
}

a:hover{
    color:#6D7993;;
}

div > h1.front-logo {
    color: white;
    margin: 50px 50px 50px 50px;
}

main .col-md-2 {
    height:200px;
    padding:2em;
    margin-top:2em;
    margin-bottom:2em;
}

footer {
    margin-top: 300px;
}

.front-nav-1 {
    background-color: #64271b;
}

.front-nav-2 {
    background-color: #354243;
}

.front-nav-3 {
    background-color: #80598d;
}

/* Homepage styles*/
.cover{
    height:300px;
    margin-top:10%;
}

header {
    color:white;
    margin-top:20px;
}


.contact {
    padding: 2em;
    background-color: black;
}

div > h4 {
    padding:2em;
}

nav {
    background-color: black;
    color: white;
}

li.nav-item {
    color: white;
}

table {
    margin: 60px;
}
