/* Basic styles */
body{
    background-color: white;
}

#vertical-photos {
    padding-left: 25px;
}

.site {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
}

h1 {
    color: #9099A2; 
}

h2, h3, h4, h5, h6{
    color: #6D7993; /* Accent */
}

a{
    color:inherit;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:hover{
    color:#6D7993;;
}

div > h1.front-logo {
    color: white;
    margin: 50px 50px 50px 50px;
}

main .col-md-2 {
    height:200px;
    padding:2em;
    margin-top:2em;
    margin-bottom:2em;
}

footer {
    margin-top: 300px;
}

.front-nav-1 {
    background-color: #64271b;
}

.front-nav-2 {
    background-color: #354243;
}

.front-nav-3 {
    background-color: #80598d;
}

/* Homepage styles*/
.cover{
    height:300px;
    margin-top:5%;
    flex:1;
}

header {
    color:white;
    margin-top:20px;
}


.contact {
    padding: 2em;
    background-color: black;
}

div > h4 {
    padding:2em;
}

nav {
    background-color: black;
    color: white;
}

li.nav-item {
    color: white;
}

div.table-responsive {
    margin-top: 60px;
    margin-left:10px;
    margin-right:10px;
}

a.current-link {
    text-decoration:underline;
}

div.carousel-inner {
    border-style: solid;
    background-color:#9099A2;
}

#certifications div.carousel-inner {
    height: 400px;
    padding:50px;
    border-style:solid;
    background-color:grey;
    
}

#certifications .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
#certifications .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

div.carousel {
    margin:50px;
}

.center iframe {
    position: absolute;
    left: 64%;
    top: 75%;
    transform: translate(-50%,-50%);
}

nav > main {
    margin-top: 25px;
}

div.row {
    margin-bottom: 25px;
}

div.container {
    text-align: center;
}

ul {
    display: inline-block;
    text-align:left;
}